  /*=============== GOOGLE FONTS ===============*/
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

  /*=============== VARIABLES CSS ===============*/
  :root {
      --blue: #2a2185;
      --white: #fff;
      --gray: #f5f5f5;
      --black1: #222;
      --black2: #999;
      --VERDE: #84c048;
      --coloriconyletras: #350c06;
      --header-height: 3.5rem;


      /*========== Colors ==========*/
      /*Color mode HSL(hue, saturation, lightness)*/
      --black-color: #fff;
      --black-color-light: #fff;
      --black-color-lighten: #fff;
      --white-color: #350c06;
      --body-color: #84c048;

      /*========== Font and typography ==========*/
      /*.5rem = 8px | 1rem = 16px ...*/
      --body-font: "Montserrat", sans-serif;
      --normal-font-size: .938rem;

      /*========== Font weight ==========*/
      --font-regular: 400;
      --font-semi-bold: 600;

      /*========== z index ==========*/
      --z-tooltip: 10;
      --z-fixed: 100;
  }

  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1024px) {
      :root {
          --normal-font-size: 1rem;
      }
  }

  /*=============== BASE ===============*/
  * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }

  body {
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
      background-color: var(--body-color);
      min-height: 100vh;
      overflow-y: auto;
  }

  ul {
      list-style: none;
      /* Color highlighting when pressed on mobile devices */
      /*-webkit-tap-highlight-color: transparent;*/
  }

  a {
      text-decoration: none;
  }

  /*=============== REUSABLE CSS CLASSES ===============*/
  .containerr {
      max-width: 1120px;
      margin-inline: 1.5rem;
  }

  /*=============== HEADER ===============*/
  .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: var(--black-color);
      box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
      z-index: var(--z-fixed);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
  }

  /*=============== NAV ===============*/
  .nav {
      height: var(--header-height);
  }

  .nav__logo,
  .nav__burger,
  .nav__close {
      color: var(--white-color);
  }

  .nav__data {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .nav__logo {
      display: inline-flex;
      align-items: center;
      column-gap: .25rem;
      font-weight: var(--font-semi-bold);
      /* Color highlighting when pressed on mobile devices */
      /*-webkit-tap-highlight-color: transparent;*/
  }

  .nav__logo img {
      font-weight: initial;
      font-size: 1.25rem;
      width: 30%;
      height: 20%;
  }

  .nav__toggle {
      position: relative;
      width: 32px;
      height: 32px;
  }

  .nav__burger,
  .nav__close {
      position: absolute;
      width: max-content;
      height: max-content;
      inset: 0;
      margin: auto;
      font-size: 1.25rem;
      cursor: pointer;
      transition: opacity .1s, transform .4s;
  }

  .nav__close {
      opacity: 0;
  }

  /* Navigation for mobile devices */
  @media screen and (max-width: 1118px) {
      .nav__menu {
          position: absolute;
          left: 0;
          top: 2.5rem;
          width: 100%;
          height: calc(100vh - 3.5rem);
          overflow: auto;
          pointer-events: none;
          opacity: 0;
          transition: top .4s, opacity .3s;
      }

      .nav__menu::-webkit-scrollbar {
          width: 0;
      }

      .nav__list {
          background-color: var(--black-color);
          padding-top: 1rem;
      }
  }

  .nav__link {
      color: var(--white-color);
      background-color: var(--black-color);
      font-weight: var(--font-semi-bold);
      padding: 1.25rem 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color .3s;
  }

  .nav__link:hover {
      background-color: var(--black-color-light);
  }

  /* Show menu */
  .show-menu {
      opacity: 1;
      top: 3.5rem;
      pointer-events: initial;
  }

  /* Show icon */
  .show-icon .nav__burger {
      opacity: 0;
      transform: rotate(90deg);
  }

  .show-icon .nav__close {
      opacity: 1;
      transform: rotate(90deg);
  }

  /*=============== DROPDOWN ===============*/
  .dropdown__item {
      cursor: pointer;
  }

  .dropdown__arrow {
      font-size: 1.25rem;
      font-weight: initial;
      transition: transform .4s;
  }

  .dropdown__link,
  .dropdown__sublink {
      padding: 1.25rem 1.25rem 1.25rem 2.5rem;
      color: var(--white-color);
      background-color: var(--black-color-light);
      display: flex;
      align-items: center;
      column-gap: .5rem;
      font-weight: var(--font-semi-bold);
      transition: background-color .3s;
  }

  .dropdown__link i,
  .dropdown__sublink i {
      font-size: 1.25rem;
      font-weight: initial;
  }

  .dropdown__link:hover,
  .dropdown__sublink:hover {
      background-color: var(--black-color);
  }

  .dropdown__menu,
  .dropdown__submenu {
      max-height: 0;
      overflow: hidden;
      transition: max-height .4s ease-out;
  }

  /* Show dropdown menu & submenu */
  .dropdown__item:hover .dropdown__menu,
  .dropdown__subitem:hover>.dropdown__submenu {
      max-height: 1000px;
      transition: max-height .4s ease-in;
  }

  /* Rotate dropdown icon */
  .dropdown__item:hover .dropdown__arrow {
      transform: rotate(180deg);
  }

  /*=============== DROPDOWN SUBMENU ===============*/
  .dropdown__add {
      margin-left: auto;
  }

  .dropdown__sublink {
      background-color: var(--black-color-lighten);
  }

  /* ===================== MAIN ===================== */
  main {
      margin-top: 8%;
      margin-bottom: 5%;
      display: flex;
      flex-direction: column;
      /* Asegura que los elementos se apilen */
      align-items: center;
      /* Centra horizontalmente */
      justify-content: center;
      /* Centra verticalmente */
      min-height: 100vh;
      /* Para ocupar toda la altura disponible */
  }

  main .cardBox {
      display: flex;
      flex-direction: column;
      /* Asegura que los elementos se apilen */
      align-items: center;
      /* Centra horizontalmente */
      justify-content: center;
      /* Centra verticalmente */

  }

  /* ===================== FORM ===================== */
  .wrapper {
      width: 500px;

      color: black;
      border-radius: 12px;
      padding: 30px 40px;

  }

  /* Organizar columnas */
  .Total {
      display: flex;
      gap: 20px;
      /* Espacio entre columnas */
      justify-content: space-between;
      margin-top: 20px;
  }

  .Columna1 {
      flex: 1;
      /* Cada columna ocupa la mitad del espacio */
      display: flex;
      flex-direction: column;
  }

  .wrapper h1 {
      font-size: 24px;
      text-align: center;
      margin-right: -100px;
  }

  /* ESTILO DEL ESPACIO SELLECIONAR CATEGORIA */
  .wrapper .input-box,
  #addCategoria {
      position: relative;
      width: 50%;
      height: 50px;
      margin: 10px 0;
  }

  .input-box input,
  #addCategoria {
      width: 400px;
      height: 100%;
      background: gainsboro;
      border: none;
      outline: none;
      border-radius: 40px;
      font-size: 16px;
      color: black;
      padding: 10px 20px;
  }

  .input-box input::placeholder {
      color: black;
  }

  .input-box i {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
  }

  .wrapper .btn {
      align-items: center;
      width: 100px;
      height: 45px;
      background: var(--VERDE);
      border: none;
      outline: none;
      border-radius: 40px;
      cursor: pointer;
      font-size: 16px;
      color: white;
      font-weight: 600;
      margin-top: 15px;
  }


  /* ======================= Cards ====================== */
  .cardBox {
      position: relative;
      width: 100%;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
  }

  .cardBox .card {
      background-color: white;
      position: relative;
      padding: 30px;
      border-radius: 20px;
      width: 700px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }

  .cardBox .card .cardName {
      color: var(--black2);
      font-size: 1.1rem;
      margin-top: 5px;
  }

  /* ====================== MODAL ========================== */
  /* Botón de abrir modal */
  .btn-open {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
  }

  .btn-open:hover {
      background-color: #0056b3;
  }

  /* Fondo oscuro del modal (inicialmente oculto) */
  .modal {
      display: none;
      /* NO se muestra inmediatamente */
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      align-items: center;
      justify-content: center;
  }

  /* Contenedor del modal */
  .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      width: 90%;
      max-width: 400px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .modal-content label {
      display: block;
      margin-bottom: 8px;
      /* Más espacio entre label e input */
      font-weight: bold;
  }

  .form-control {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      /* Espacio entre los inputs */
      border: 1px solid #ccc;
      border-radius: 8px;
      /* Esquinas redondeadas */
      background-color: #f2f2f2;
      /* Fondo gris */
  }

  /* Botón de guardar con menos ancho y texto más en negrita */
  .btn-save {
      background-color: #28a745;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      /* Letra más en negrita */
      width: auto;
      /* Ancho automático */
      display: block;
      margin: 10px auto;
      /* Centrar horizontalmente */
  }

  .btn-save:hover {
      background-color: #218838;
  }

  /* Botón de cierre (X) en color rojo */
  .close {
      float: right;
      font-size: 24px;
      cursor: pointer;
      color: red;
      /* X en color rojo */
  }

  .close:hover {
      color: darkred;
      /* Rojo más oscuro al pasar el mouse */
  }

  /* Estilo para el botón de eliminar */
  .btn-delete {
      background-color: red;
      color: white;
      padding: 5px 5px;
      /* Aumenta el tamaño */
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  .btn-delete:hover {
      background-color: #333;
      /* Un negro más claro al pasar el mouse */
  }

  /* Estilo para el botón de editar */
  .btn-edit {
      background-color: blue;
      color: white;
      padding: 5px 5px;
      /* Tamaño estándar */
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  .btn-edit:hover {
      background-color: darkblue;
      /* Un tono más oscuro al pasar el mouse */
  }


  /* ====================== TABLA ========================== */

  /* Centramos el texto y contenido dentro de las celdas */
  #datatable_users {
      width: 800px;
      border-collapse: collapse;
      border-radius: 10px;
      /* Esquinas redondeadas en toda la tabla */
      overflow: hidden;
      /* Asegura que las esquinas redondeadas se mantengan */
  }

  /* Estilo para las celdas */
  #datatable_users th,
  #datatable_users td {
      text-align: center;
      padding: 6px;
      /* Espaciado interno */
  }

  /* Estilo para las cabeceras */
  #datatable_users th {
      background-color: #f8f9fa;
      color: #333;
      font-weight: bold;
  }

  /* Estilos para el campo de búsqueda */
  .dataTables_filter input {
      background-color: white !important;
      /* Fondo blanco */
      color: black !important;
      /* Texto negro */
      border-radius: 8px !important;
      /* Bordes redondeados */
      padding: 5px 10px;
      /* Espaciado dentro del input */
      border: 1px solid #ccc;
      /* Borde gris */
      font-size: 14px;
      /* Tamaño de letra */
      margin-bottom: 3%;
  }

  /* Estilo del texto del label "Buscar" */
  .dataTables_filter label {
      font-size: 14px;
      /* Tamaño de la letra */
      color: white;
      /* Color blanco */
      margin-right: 10px;
      /* Espaciado entre el texto y el input */
  }

  /* Estilo para las filas */
  #datatable_users tbody tr {
      background-color: #ffffff;
      transition: background-color 0.3s ease;
  }

  /* Cambiar el color de fondo cuando pasas el mouse sobre una fila */
  #datatable_users tbody tr:hover {
      background-color: #f1f1f1;
  }

  #datatable_users tbody tr:last-child td:first-child {
      border-bottom-left-radius: 10px;
      /* Esquina inferior izquierda */
  }

  #datatable_users tbody tr:last-child td:last-child {
      border-bottom-right-radius: 10px;
      /* Esquina inferior derecha */
  }

  /* ====================== RESPONSIVE ========================== */
  @media (max-width: 768px) {
      .datatable-controls {
          flex-direction: column;
          text-align: center;
      }

      #logo {
          width: 15%;
          height: 10%;
      }

      main {
          margin-top: 0%;
          margin-bottom: 5%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
      }

      main .cardBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: none;
      }

      /* ===================== FORM ===================== */
      /* Organizar columnas */
      .Total {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 10px;
          margin-left: -110px;
          background: none;
      }

      .Columna1 {
          background: none;
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-right: 100px;
      }

      .wrapper h1 {
          font-size: 24px;
          text-align: center;
          margin-right: 100px;
      }

      .wrapper .input-box {
          position: relative;
          width: 100%;
          height: 50px;
          margin: 20px 0;
      }

      .input-box input,
      #addCategoria {

          width: 400px;
          height: 100%;
          background: gainsboro;
          border: none;
          outline: none;
          border-radius: 40px;
          font-size: 16px;
          color: black;
          padding: 10px 20px;

      }

      #addCategoria {
          margin-left: 70px;
      }

      .input-box input::placeholder {
          color: black;
      }

      .input-box i {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 20px;
      }

      .wrapper .btn {
          align-items: center;
          width: 50%;
          height: 45px;
          background: var(--VERDE);
          border: none;
          outline: none;
          border-radius: 40px;
          cursor: pointer;
          font-size: 16px;
          color: white;
          font-weight: 600;
          margin-top: 15px;
          margin-left: 160px;
      }

      /* ======================= Cards ====================== */
      .cardBox {
          background: none;
          position: relative;
          height: 350px;
          width: 400px;
          padding: 20px;
      }

      .cardBox .card {
          background-color: white;
          height: 350px;
          width: 450px;
          position: relative;
          padding: 30px;
          border-radius: 20px;
          display: flex;
          justify-content: space-between;
          cursor: pointer;

      }

      #card {
          margin-left: 160px;
      }

      #w {
          background: none;
      }

      .cardBox .card .cardName {
          color: var(--black2);
          font-size: 1.1rem;
          margin-top: 5px;
      }

      #datatable_users {
          width: 400px;
          font-size: 10px;
          margin-left: 170px;
      }

      #datatable_users_length {
          display: none;
      }

      #datatable_users_filter {
          margin-top: 20px;
          display: flex;
          justify-content: flex-start;
          margin-left: 170px;
      }

      .dataTables_filter input {
          display: flex;
          flex-direction: row;
          background-color: white !important;
          color: black !important;
          border-radius: 8px !important;
          padding: 5px 10px;
          border: 1px solid #ccc;
          font-size: 14px;
          margin-bottom: 3%;
      }


      .dataTables_filter label {
          font-size: 14px;
          color: white;
          margin-right: 10px;
      }
  }


  /* For large devices */
  @media screen and (min-width: 1118px) {
      .containerr {
          margin-inline: auto;
      }

      .nav {
          height: calc(var(--header-height) + 2rem);
          display: flex;
          justify-content: space-between;
      }

      .nav__toggle {
          display: none;
      }

      .nav__list {
          height: 100%;
          display: flex;
          column-gap: 3rem;
      }

      .nav__link {
          height: 100%;
          padding: 0;
          justify-content: initial;
          column-gap: .25rem;
      }

      .nav__link:hover {
          background-color: transparent;
      }

      .dropdown__item,
      .dropdown__subitem {
          position: relative;
      }

      .dropdown__menu,
      .dropdown__submenu {
          max-height: initial;
          overflow: initial;
          position: absolute;
          left: 0;
          top: 6rem;
          opacity: 0;
          pointer-events: none;
          transition: opacity .3s, top .3s;
      }

      .dropdown__link,
      .dropdown__sublink {
          padding-inline: 1rem 3.5rem;
      }

      .dropdown__subitem .dropdown__link {
          padding-inline: 1rem;
      }

      .dropdown__submenu {
          position: absolute;
          left: 100%;
          top: .5rem;
      }

      /* Show dropdown menu */
      .dropdown__item:hover .dropdown__menu {
          opacity: 1;
          top: 5.5rem;
          pointer-events: initial;
          transition: top .3s;
      }

      /* Show dropdown submenu */
      .dropdown__subitem:hover>.dropdown__submenu {
          opacity: 1;
          top: 0;
          pointer-events: initial;
          transition: top .3s;
      }

      .nav__logo .img {
          width: 35%;
          height: 25%;
      }
  }